/**Reset**/

*{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

/* LAYOUT */

#wrapper{
    width: 100vw;
    height: 100px;
    display:grid;
    position: relative;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
    align-items: center;
}

#wrapper div{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index:9;
    
    top:0;
    width: inherit;
}

#wrapper .victim{
    z-index: 1;
    
    transition: transform 300ms ease-in-out;
}

#wrapper div ul{
    width: inherit;
    height:100px;
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 248, 248);
    border-bottom: solid black 2px;
    
}

ul li{
    padding:0 20px;
    cursor: pointer;
    height: inherit;
    display:flex;
    align-items: center;
}

.victim li{
   /*  pointer-events: none; */
}


/* Transaction */

.action-acheter{
    grid-row: 2/3;
    transform:translate(0,100px);

}

