*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
}

.box{
    
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height: 200px;
    background-color: #ddd;
    
    opacity: 0;
    transition:transform 300ms ease-in-out, opacity 100ms ease-in-out;
    display:inline-block;
    
}

.trigger{
    
    position: relative;
    width: 200px;
    height: 200px;
   
    background-color: #ddd;
   
}

.trigger:hover .box{
    transform: translate(0, 200px);
    opacity: 1;
}